body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  display: flex;
}

.container {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;

}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

ul li {
  background-color: #e9e9e9;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li:hover {
  background-color: #d4d4d4;
}

.delete-btn{
  cursor: pointer;
  border: none;
  background-color: red;
  color: white;
}